* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.header-top {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-top .header-icons {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.header-top .header-icons i {
  border-radius: 50%;

  padding: 10px;
  background-color: black;
  color: white;
  transition: all 0.5s;
  cursor: pointer;
}
.header-top .header-icons i:hover {
  color: #f16812;
}
.header-top .header-top-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.header-top .header-top-contact i {
  color: #f16812;
}
.header-top .header-top-contact .mobil {
  display: flex;
  gap: 10px;
}
.header-top .header-top-contact .mail {
  display: flex;
  gap: 10px;
}
.header-bottom.header-scroll{
  padding: 1rem 0;
  position: fixed;
  background-color: white;
  z-index: 2;
  left: 0;
  right: 0;
}
.header-bottom {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-bottom h1 {
  font-size: 40px;
  font-family: "Mulish", sans-serif;
}
.header-bottom nav ul {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-bottom nav ul a {
  color: black;
  transition: all 0.5s;
}
.header-bottom nav ul a:hover {
  color: #f16812;
}
.hero-banner {
  background-image: url(../image/hero_2.jpg);
  height: 100vh;
  background-size: cover;
  position: relative;
}
.hero-banner-text {
  position: absolute;
  top: 90px;
  bottom: 80px;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  color: white;
}
.hero-banner-text h1 {
  font-size: 70px;
  font-family: "Mulish", sans-serif;
  line-height: 96px;
  font-weight: 900;
}
.hero-banner-text p {
  font-weight: 300;
  font-size: 20px;
}

.hero-banner-text .buttons button {
  height: 3rem;
  width: 11rem;
  border: none;
  cursor: pointer;
}
.hero-banner-text .buttons .one {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  transition: all 0.5s;
}
.hero-banner-text .buttons .one:hover {
  background-color: white;
  color: black;
}
.hero-banner-text .buttons .two {
  background-color: white;
  color: black;
  border: 2px solid white;
  transition: all 0.5s;
}

.hero-banner-text .buttons .two:hover {
  background-color: transparent;

  color: white;
}
.menu i {
  font-size: 2rem;
  display: none;
}
#cards {
  padding: 60px 0;
}
.cards-about {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}
.cards-about span {
  color: rgb(196, 193, 193);
}
.cards-about h1 {
  font-size: 3rem;
}
.cards-about p {
  color: rgb(196, 193, 193);
}
.cards {
  padding: 7rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.card {
  width: 25%;
  text-align: center;
}
.card img {
  width: 100%;
}
.card-icon {
  display: flex;
  gap: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.card-icon .fa-solid.fa-star {
  color: rgb(255, 174, 0);
}
.card-icon .fa-regular.fa-heart {
  color: rgb(231, 227, 227);
}
.card button {
  margin: 20px 0;
  width: 80px;
  height: 35px;
  cursor: pointer;
}

.card button.cart {
  border: 2px solid black;
  background-color: black;
  color: white;
  transition: all 0.5s;
}
.card button.cart:hover {
  background-color: white;
  color: black;
}
.card button.view {
  border: 2px solid black;
  background-color: white;
  color: black;
  transition: all 0.5s;
}
.card button.view:hover {
  background-color: black;
  color: white;
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
}
.about-right {
  width: 50%;
}
.about-right img {
  width: 100%;
}
.about-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-left span {
  color: rgb(150, 147, 147);
}
.about-left p {
  color: rgb(155, 151, 151);
  width: 50%;
}

.about-left h1 {
  font-size: 4rem;
}
.about-left button {
  width: 120px;
  height: 40px;
  border: 2px solid black;
  background-color: black;
  color: white;
  transition: all 0.5s;
  cursor: pointer;
}
.about-left button:hover {
  background-color: transparent;
  color: black;
}
.team-name {
  text-align: center;
  padding: 70px 0;
}
.team-name span {
  color: rgb(155, 151, 151);
}
.team-name h1 {
  font-size: 3rem;
}
.team-icons i {
  border-radius: 50%;

  padding: 10px;
  background-color: rgb(138, 138, 138);
  color: white;
  transition: all 0.5s;
  cursor: pointer;
}
.team-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.team-card {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.team-card img {
  width: 100%;
}
.team-icons{
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.services-cards{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.services-card{
  width: 30%;
}
.one{
  display: flex;
  gap: 20px;
}
.one-text{
  color: rgb(138, 138, 138);
  width: 60%;
}
.one-icon i{
  font-size: 4rem;
  color: #f16812;
}
.services-name{
  text-align: center;
  padding: 80px 0;
}
.services-name span{
  color: rgb(138, 138, 138);
}
.services-name h1{
  font-size: 3rem;
}
.one-text span{
  color: #f16812;
}
.footer-card {
  width: 25%;
  color:rgb(138, 138, 138) ;
 
}
.footer-card h2{
  color: black;
}
.footer-card img{
  width: 100%;
}
footer{
  padding: 40px 0;
}
.quick-link nav ul{
  display:flex ;
  flex-direction: column;
  gap: 30px;
}
.quick-link nav ul li a{
  color: rgb(138, 138, 138);
  font-size: 1.5rem;
}
.footer{
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.quick-link{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.follow-us {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.about-us{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer-card button{
  margin: 20px 0;
 padding: 10px 40px;
  border: 2px solid black;
  background-color: black;
  transition: all 0.5s;
  cursor: pointer;
  color: white;
}
.footer-card button:hover{
background-color: transparent;
color: black;
}
.footer-bottom{
  padding: 50px 0;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .container {
    padding: 0 5%;
  }
  .header-top-contact p {
    display: none;
  }
  .header-bottom nav {
    display: none;

    justify-content: center;
    align-items: center;
  }
  .hero-banner-text {
    width: 100%;
  }
  .hero-banner-text h1 {
    font-size: 40px;
  }
  .hero-banner-text p {
    font-size: 15px;
  }
  .hero-banner-text .buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .hero-banner {
    /* width: 100%; */
    height: 100vh;
  }
  .menu i {
    display: inline;
  }
  .header-bottom nav.show {
    display: block;
  }
  .header-bottom nav.show ul {
    flex-direction: column;

    position: absolute;
    background-color: white;
    z-index: 2;
    padding: 4rem 8rem;
    right: 0;
    margin: 40px 0;
  }
  .cards {
    display: block;
  }
  .card {
    width: 100%;
  }
  .about {
    display: block;
  }
  .about-left {
    width: 100%;
  }
  .about-right {
    width: 100%;
  }
  .about-left h1 {
    font-size: 2rem;
  }
  .team-cards{
    display: block;
  }
  .team-card{
    width: 100%;
  }
  .services-cards{
   flex-direction: column;
   gap: 30px;
  }
  .services-card{
    width: 100%;
  }
  .services-name h1{
    font-size: 2rem;
  }
  .footer{
    flex-direction: column;
    gap: 40px;
  }
  .footer-card{
    width: 100%;
  }
}
